.netflix{
    color: red;
    margin-left: 80px;
    margin-top: 5px;
    font-size: large;
  
}
.words{
    text-align: center;
    font-size: x-large;
    margin-top: 150px;
    color: white;

}
.mail{
   margin-left: 500px;
}
.email{
    margin-left: 1100px;
    
}
*{
    background-image: url(nt.webp);
    background-repeat: no-repeat;
    background-size: cover;
}